{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
    {% endblock title %}@crm</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
}
.navbarMine{
  overflow:hidden;
  text-align:center;
  background-color: rgb(0, 0, 0);
  position: sticky; /* Set the navbar to fixed position */
  z-index: 1;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 70px;
}

.navWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 30px;
    color:white;
    cursor: pointer;
}
.navRight{
    display: flex;
    align-items: center;
    margin: 0;
}
.navIcons{
    margin: 10px;
    cursor: pointer;
    color: white;
}
.searchbox{
    margin: 5px;   
}

a{
    font-size: 18px;
    color: rgb(131, 129, 129);
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
a:hover{
    background-color:#dee0e0;
    text-decoration:none;
    color: black;
}
li.active{
    border-bottom: 4px solid rgb(255, 103, 103);
}
.container-fluid{
    width: 80%;
}
.misen{
    list-style-type:none;
    margin: 8px;
    padding: 8px;
}
.macok{
    margin: auto;
    background-color: white;
    height: 24px;
    width: 24px;
    margin-left: 64px;
    margin-right: 64px;
    display: flex;
}
.container-custom{
    width: 70%;
    margin: auto;
    position: sticky;
    z-index: 1;
    bottom: 0;
    background-color: white;
}
.redbull{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 0px 18px 1px rgba(169,169,169,0.76);
-webkit-box-shadow: 1px 0px 18px 1px rgba(169,169,169,0.76);
-moz-box-shadow: 1px 0px 18px 1px rgba(169,169,169,0.76);
}
.rrugaura{
  padding: 20px;
  overflow:hidden;
  text-align:center;
  background-color: rgb(255, 255, 255);
  position: sticky; /* Set the navbar to fixed position */
  z-index: 1;
  top: 70px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 90px;
}
</style>
    <script src="{% static 'js/jquery.min.js' %}"></script>

<body>
    <div class="navbarMine" id="navbarSupportedContent">
        <div class="navWrapper">
            <div class="navLeft">
                <span class="logo">gitCRM</span>
            </div>
            <div class="searchbox">
                <form action="{% url 'leads:search' %}" method="GET">
                    {% csrf_token %}
                    <div class="input-group-append">
                    <input type="search" name="q" id="q" class="form-control col-12 mr-2" placeholder="Search the entire database here...">
                    <button type="submit" class="btn btn-outline-light">Search</button>
                </div>
                </form>
            </div>
            <div class="navRight">
                <div class="navIcons">
                        <a href="{% url 'logout' %}">
                            <span class="material-icons">account_circle</span> <span class="fa fa-sign-out" aria-hidden="true"></span>
                        </a>
                </div>
            </div>
        </div>
    </div>
    <div class="rrugaura width-full border-bottom color-border-secondary">
        <ul data-view-component="true" class="UnderlineNav-body list-style-none">
            {% with url_name=request.resolver_match.url_name  %}
            
            <li data-view-component="true" class="d-inline-flex {% if url_name == 'lead-index' %}active{% endif %}">
        <a href="{% url 'leads:lead-index' %}" aria-current="page">
          
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-code UnderlineNav-octicon d-none d-sm-inline">
          <path fill-rule="evenodd" d="M4.72 3.22a.75.75 0 011.06 1.06L2.06 8l3.72 3.72a.75.75 0 11-1.06 1.06L.47 8.53a.75.75 0 010-1.06l4.25-4.25zm6.56 0a.75.75 0 10-1.06 1.06L13.94 8l-3.72 3.72a.75.75 0 101.06 1.06l4.25-4.25a.75.75 0 000-1.06l-4.25-4.25z"></path>
      </svg>
                <span data-content="Code">Leads</span>
                  <span title="Not available" data-view-component="true" class="Counter"></span>
      
          
      </a></li>
            <li data-view-component="true" class="d-inline-flex {% if url_name == 'user-index' %}active{% endif %}">
        <a href="{% url 'users:user-index' %}" class="opensource">
          
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-issue-opened UnderlineNav-octicon d-none d-sm-inline">
          <path d="M8 9.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path><path fill-rule="evenodd" d="M8 0a8 8 0 100 16A8 8 0 008 0zM1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0z"></path>
      </svg>
                <span data-content="Issues">Users</span>
                  <span title="0" hidden="hidden" data-view-component="true" class="Counter">0</span>
      
          
      </a></li>
            <li data-view-component="true" class="d-inline-flex {% if url_name == 'lead-create' %}active{% endif %}">
        <a href="{% url 'leads:lead-create' %}" class="opensource">
          
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-git-pull-request UnderlineNav-octicon d-none d-sm-inline">
          <path fill-rule="evenodd" d="M7.177 3.073L9.573.677A.25.25 0 0110 .854v4.792a.25.25 0 01-.427.177L7.177 3.427a.25.25 0 010-.354zM3.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122v5.256a2.251 2.251 0 11-1.5 0V5.372A2.25 2.25 0 011.5 3.25zM11 2.5h-1V4h1a1 1 0 011 1v5.628a2.251 2.251 0 101.5 0V5A2.5 2.5 0 0011 2.5zm1 10.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM3.75 12a.75.75 0 100 1.5.75.75 0 000-1.5z"></path>
      </svg>
                <span data-content="Pull requests">Create Lead</span>
                  <span title="0" hidden="hidden" data-view-component="true" class="Counter">0</span>
      
          
      </a></li>
            <li data-view-component="true" class="d-inline-flex {% if url_name == 'user-create' %}active{% endif %}">
        <a href="{% url 'users:user-create' %}" class="opensource">
          
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-play UnderlineNav-octicon d-none d-sm-inline">
          <path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zM6.379 5.227A.25.25 0 006 5.442v5.117a.25.25 0 00.379.214l4.264-2.559a.25.25 0 000-.428L6.379 5.227z"></path>
      </svg>
                <span data-content="Actions">User Create</span>
                  <span title="Not available" data-view-component="true" class="Counter"></span>
      
          
      </a></li>
            <li data-view-component="true" class="d-inline-flex {% if url_name == 'source-index' %}active{% endif %}">
        <a href="{% url 'sources:source-index' %}" class="opensource">
          
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-project UnderlineNav-octicon d-none d-sm-inline">
          <path fill-rule="evenodd" d="M1.75 0A1.75 1.75 0 000 1.75v12.5C0 15.216.784 16 1.75 16h12.5A1.75 1.75 0 0016 14.25V1.75A1.75 1.75 0 0014.25 0H1.75zM1.5 1.75a.25.25 0 01.25-.25h12.5a.25.25 0 01.25.25v12.5a.25.25 0 01-.25.25H1.75a.25.25 0 01-.25-.25V1.75zM11.75 3a.75.75 0 00-.75.75v7.5a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75zm-8.25.75a.75.75 0 011.5 0v5.5a.75.75 0 01-1.5 0v-5.5zM8 3a.75.75 0 00-.75.75v3.5a.75.75 0 001.5 0v-3.5A.75.75 0 008 3z"></path>
      </svg>
                <span data-content="Projects">Sources</span>
                  <span title="0" hidden="hidden" data-view-component="true" class="Counter">0</span>
      
          
      </a></li>
            <li data-view-component="true" class="d-inline-flex {% if url_name == 'category-index' %}active{% endif %}">
        <a href="{% url 'categories:category-index' %}" class="opensource">

        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-book UnderlineNav-octicon d-none d-sm-inline">
          <path fill-rule="evenodd" d="M0 1.75A.75.75 0 01.75 1h4.253c1.227 0 2.317.59 3 1.501A3.744 3.744 0 0111.006 1h4.245a.75.75 0 01.75.75v10.5a.75.75 0 01-.75.75h-4.507a2.25 2.25 0 00-1.591.659l-.622.621a.75.75 0 01-1.06 0l-.622-.621A2.25 2.25 0 005.258 13H.75a.75.75 0 01-.75-.75V1.75zm8.755 3a2.25 2.25 0 012.25-2.25H14.5v9h-3.757c-.71 0-1.4.201-1.992.572l.004-7.322zm-1.504 7.324l.004-5.073-.002-2.253A2.25 2.25 0 005.003 2.5H1.5v9h3.757a3.75 3.75 0 011.994.574z"></path>
      </svg>
                <span data-content="Wiki">Categories</span>
                  <span title="Not available" data-view-component="true" class="Counter"></span>
          
      </a></li>
            <li data-view-component="true" class="d-inline-flex {% if url_name == 'advanced-search' %}active{% endif %}">
        <a href="{% url 'leads:advanced-search' %}" class="opensource">
          
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-shield UnderlineNav-octicon d-none d-sm-inline">
          <path fill-rule="evenodd" d="M7.467.133a1.75 1.75 0 011.066 0l5.25 1.68A1.75 1.75 0 0115 3.48V7c0 1.566-.32 3.182-1.303 4.682-.983 1.498-2.585 2.813-5.032 3.855a1.7 1.7 0 01-1.33 0c-2.447-1.042-4.049-2.357-5.032-3.855C1.32 10.182 1 8.566 1 7V3.48a1.75 1.75 0 011.217-1.667l5.25-1.68zm.61 1.429a.25.25 0 00-.153 0l-5.25 1.68a.25.25 0 00-.174.238V7c0 1.358.275 2.666 1.057 3.86.784 1.194 2.121 2.34 4.366 3.297a.2.2 0 00.154 0c2.245-.956 3.582-2.104 4.366-3.298C13.225 9.666 13.5 8.36 13.5 7V3.48a.25.25 0 00-.174-.237l-5.25-1.68zM9 10.5a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.75a.75.75 0 10-1.5 0v3a.75.75 0 001.5 0v-3z"></path>
      </svg>
                <span data-content="Security">Advanced Filter</span>
          
      </a></li>
            <li data-view-component="true" class="d-inline-flex">
        <a href="" class="opensource">
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-graph UnderlineNav-octicon d-none d-sm-inline">
          <path fill-rule="evenodd" d="M1.5 1.75a.75.75 0 00-1.5 0v12.5c0 .414.336.75.75.75h14.5a.75.75 0 000-1.5H1.5V1.75zm14.28 2.53a.75.75 0 00-1.06-1.06L10 7.94 7.53 5.47a.75.75 0 00-1.06 0L3.22 8.72a.75.75 0 001.06 1.06L7 7.06l2.47 2.47a.75.75 0 001.06 0l5.25-5.25z"></path>
      </svg>
                <span data-content="Insights">Lead Import</span>        
      </a>
    </li>
    {% endwith %}
      </ul>
 </div>
    <div class="container-fluid">
        {% block content %}
          
        {% endblock content %}
    </div>
    <br><br>

    <div class="footer container-custom width-full p-responsive" role="contentinfo">
        <div class="position-relative d-flex flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-lg-justify-between pt-6 pb-2 mt-6 f6 color-text-secondary border-top color-border-secondary ">
          <ul class="misen list-style-none d-flex flex-wrap flex-lg-justify-between mb-2 mb-lg-0">
            <li class="mr-3 mr-lg-0">© 2022 GitHub, Inc.</li>
              <li class="mr-3 mr-lg-0"><a href="#" data-hydro-click="{&quot;event_type&quot;:&quot;analytics.event&quot;,&quot;payload&quot;:{&quot;category&quot;:&quot;Footer&quot;,&quot;action&quot;:&quot;go to terms&quot;,&quot;label&quot;:&quot;text:terms&quot;,&quot;originating_url&quot;:&quot;https://github.com/misen19/djangocrm&quot;,&quot;user_id&quot;:63194411}}" data-hydro-click-hmac="83a4eb5f0e76b4517a7cf4f0a0656227bd7fe25b3d3700047ea40851b70a12a3">Terms</a></li>
              <li class="mr-3 mr-lg-0"><a data-hydro-click="{&quot;event_type&quot;:&quot;analytics.event&quot;,&quot;payload&quot;:{&quot;category&quot;:&quot;Footer&quot;,&quot;action&quot;:&quot;go to security&quot;,&quot;label&quot;:&quot;text:security&quot;,&quot;originating_url&quot;:&quot;https://github.com/misen19/djangocrm&quot;,&quot;user_id&quot;:63194411}}" data-hydro-click-hmac="67988823373f1184d12c5873a4ab2c68f119518bfa538157ec5a0699194066c3" href="#">Security</a></li>
              <li class="mr-3 mr-lg-0"><a href="#" data-hydro-click="{&quot;event_type&quot;:&quot;analytics.event&quot;,&quot;payload&quot;:{&quot;category&quot;:&quot;Footer&quot;,&quot;action&quot;:&quot;go to status&quot;,&quot;label&quot;:&quot;text:status&quot;,&quot;originating_url&quot;:&quot;https://github.com/misen19/djangocrm&quot;,&quot;user_id&quot;:63194411}}" data-hydro-click-hmac="8aede00b2d94b4320030f9e456f0bb70457ba2fb9ad3229bd3787b7430a2819f">Status</a></li>
              <li><a data-ga-click="Footer, go to help, text:Docs" href="#">Docs</a></li>
          </ul>
      
          <a aria-label="Homepage" title="GitHub/misen19" class="macok footer-octicon d-none d-lg-block mx-lg-4" href="https://github.com/misen19">
            <svg aria-hidden="true" height="24" viewBox="0 0 16 16" version="1.1" width="24" data-view-component="true" class="octicon octicon-mark-github">
          <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
      </svg>
      </a>
          <ul class="misen list-style-none d-flex flex-wrap flex-lg-justify-between mb-2 mb-lg-0">
            <li><a href="#">Contact Email</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Training</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Made in Django. Ridiculously fast, Reassuringly secure and Exceedingly scalable.</a></li>
          </ul>
        </div>
        <div class="d-flex flex-justify-center pb-6">
          <span class="f6 color-text-tertiary"></span>
        </div>
      </div>

    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/a993be6c26.js" crossorigin="anonymous"></script>
</body>
</html>
